<!DOCTYPE html>
<!-- index.php !-->
<html>

<head>
    <title>Friends Contact List - Angular JS Project</title>
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <!-- bootstrap cdn -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <!-- angular cdn -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- my stylesheet -->
    <link rel="stylesheet" href="style.css">
    <!-- my script -->
    <script src='script.js'></script>

</head>

<body>

    <div class="containers">

        <div ng-app='myapp' ng-controller='mycontroller' ng-init='updateTable()'>
            <h3>Friends Contact List</h3>
            <div class='withForm'>
                <form action="#">
                    <label>Friends Name</label>
                    <input type="hidden" ng-model='id'>
                    <input type="text" ng-model='name' class='form-control' autocomplete="off" maxlength="25">
                    <label>Mobile Number</label>
                    <input type="text" ng-model='phone' class='form-control' maxlength="20">
                    <input type="submit" value='{{btname}}' class='form-control' ng-click='insertIntoDB()'>
                </form>
            </div>

            <div class='tableHolder'>
                <table class="table table-bordered">
                    <tr>
                        <th>Name</th>
                        <th>Phone</th>
                        <th>Update</th>
                    </tr>
                    <tr ng-repeat='x in somearray'>
                        <td>{{x.name}}</td>
                        <td>{{x.phone}}</td>
                        <td><button class='btn btn-primary' ng-click='updateData(x.id,x.name,x.phone)'>Update</button></td>
                        <td></td>
                    </tr>



                </table>
            </div>
        </div>

        <!-- container ends -->
    </div>

</body>

</html>